Repository kube-rca/agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, export-openapi

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --check
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]
      - id: export-openapi
        name: Export OpenAPI spec
        entry: bash
        args:
          - -c
          - |
              uv run python scripts/export_openapi.py
              if ! git diff --quiet -- docs/openapi.json; then
                echo "pre-commit: OpenAPI spec changed. Stage 'docs/openapi.json' and retry." >&2
                exit 1
              fi
        language: system
        files: ^(app/|scripts/export_openapi\.py)
        pass_filenames: false
        stages: [pre-commit]

feat(config): add session DB and cache settings
  app/core/config.py
Due: ruff-format, ruff-check, export-openapi

feat(clients): add PostgreSQL session repository
  app/clients/session_repository.py
Due: ruff-format, ruff-check, export-openapi

feat(clients): add session-based agent caching
  app/clients/k8s.py
  app/clients/strands_agent.py
  app/clients/strands_patch.py
Due: ruff-format, ruff-check, export-openapi

feat(api): pass incident_id to analysis engine
  app/schemas/analysis.py
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

chore: update tests and dependencies [KAN-76]
  docs/openapi.json
  pyproject.toml
  tests/test_analysis_service.py
  uv.lock
Due: ruff-format, ruff-check

ci: trigger build on main branch instead of [build] tag
  .github/workflows/ci.yaml
Due: none

refactor: move chaos scripts to external directory and update references
  Makefile
  README.md
  scripts/curl-test-crashloop.sh
  scripts/curl-test-imagepull.sh
  scripts/curl-test-oomkilled.sh
Due: none

feat(agent): support WEB_CONCURRENCY workers [KAN-77]
  Dockerfile
  Makefile
  README.md
Due: none

[KAN-117] feat: Incident 종합 분석 로직
  app/api/analysis.py
  app/schemas/analysis.py
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

[KAN-117] feat: 인시던트 title 추천 및 딜리버리
  app/api/analysis.py
  app/schemas/analysis.py
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

[KAN-117] feat: title 추천 프롬프트 수정
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

[KAN-117] fix: ruff 라인 길이 수정
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

fix(agent): serialize strands session writes [KAN-118]
  app/clients/session_repository.py
  app/clients/strands_agent.py
Due: ruff-format, ruff-check, export-openapi

feat(agent): split alert summary/detail (KAN-124)
  app/api/analysis.py
  app/schemas/analysis.py
  app/services/analysis.py
  docs/openapi.json
  tests/test_analysis_service.py
Due: ruff-format, ruff-check, export-openapi

feat(agent): add alert context artifacts (KAN-102)
  app/api/analysis.py
  app/schemas/analysis.py
  app/services/analysis.py
  docs/openapi.json
  tests/test_analysis_service.py
Due: ruff-format, ruff-check, export-openapi

feat(agent): add pod discovery and prometheus metrics listing tools
  app/clients/k8s.py
  app/clients/prometheus.py
  app/clients/strands_agent.py
  app/models/k8s.py
  app/services/analysis.py
  tests/test_analysis_service.py
Due: ruff-format, ruff-check, export-openapi

fix(agent): isolate alert and summary sessions
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

fix(agent): enforce list dash in prompt [KAN-132]
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

fix(agent): refine output formatting [KAN-132]
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

feat(agent): require PROMETHEUS_URL for Prometheus queries (KAN-134)
  README.md
  app/clients/prometheus.py
  app/clients/strands_agent.py
  app/core/config.py
  app/core/dependencies.py
  app/services/analysis.py
  tests/test_analysis_service.py
Due: ruff-format, ruff-check, export-openapi

feat(agent): add prompt budget and session summaries
  README.md
  app/clients/k8s.py
  app/clients/summary_store.py
  app/core/config.py
  app/core/dependencies.py
  app/services/analysis.py
  tests/test_analysis_service.py
Due: ruff-format, ruff-check, export-openapi

feat(prometheus): add query_range for time-series history data [KAN-134]
  app/clients/prometheus.py
  app/clients/strands_agent.py
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

refac(prompt): generalize range query guidance for all alert types [KAN-134]
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

fix(agent): guard empty analysis response
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

fix(logging): filter health and openapi access logs
  app/core/logging.py
Due: ruff-format, ruff-check, export-openapi

fix(agent): tolerate gemini formatter signature changes
  app/clients/strands_patch.py
Due: ruff-format, ruff-check, export-openapi

docs: enhance README for open source project
  README.md
Due: none

fix(docs): use absolute URL for logo image
  README.md
Due: none

fix(docs): use absolute GitHub URLs for related components
  README.md
Due: none

fix(agent): make session writes idempotent
  app/clients/session_repository.py
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff-format, ruff-check, export-openapi

chore(config): update default gemini model to gemini-3.0-flash
  Makefile
  README.md
  app/core/config.py
Due: ruff-format, ruff-check, export-openapi

fix(config): revert gemini model to gemini-3-flash-preview
  Makefile
  README.md
  app/core/config.py
Due: ruff-format, ruff-check, export-openapi

feat(llm): support multi-provider (Gemini, OpenAI, Anthropic) (KAN-144)
  app/clients/llm_providers/__init__.py
  app/clients/llm_providers/base.py
  app/clients/llm_providers/factory.py
  app/clients/strands_agent.py
  app/core/config.py
  app/core/dependencies.py
Due: ruff-format, ruff-check, export-openapi

chore(ci): add release-please automation
  .github/workflows/ci-pr.yaml
  .github/workflows/release-please.yaml
  .release-please-manifest.json
  release-please-config.json
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci-pr.yaml
Due: none

feat(agent): support provider model ids (KAN-144)
  README.md
  app/clients/llm_providers/factory.py
  app/core/config.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, export-openapi

fix(agent): bump kubernetes for urllib3 security fixes
  pyproject.toml
  uv.lock
Due: none

chore(release): simplify release tag format
  release-please-config.json
Due: none

[KAN-150] fix: Incident title 리밋 변경
  app/services/analysis.py
Due: ruff-format, ruff-check, export-openapi

ci(release): add image build and helm chart update job
  .github/workflows/release-please.yaml
Due: none
